@font-face {
    font-family: 'IranYekan';
    src: url("../assets/fonts/BYekan/BYekan.ttf") format('truetype'),
        url("../assets/fonts/BYekan/BYekan+ Bold.ttf") format('truetype');
}

html {
    font-family: 'IranYekan';
}

.search input,
.search input:focus {
    border: none;
    background-color: #f0f0f1;
    font-size: 12px;
    padding: 14px 45px 14px 10px;
    color: #474747;
    width: 40rem;
}

.login-btn-ctr {}

.login-btn-ctr .login-btn {
    text-decoration: none;
    color: #616161;
    cursor: pointer;
    font-family: 'IranYekan';
    line-height: 1.833;
    padding: 10px 12px;
    flex-shrink: 0;

    font-size: 12px;
    font-size: .857rem;
    line-height: 1.833;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #e0e0e2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    -ms-flex-negative: 0;
    flex-shrink: 0;

}

.collapse ul {
    padding-right: 0;
}

.navbar .navbar-left {
    display: flex;
}

.navbar .navbar-right {
    display: flex;
}

.navbar-brand {
    margin-left: 20px
}

.navbar-top {
    padding: 1rem 0;

}

.navbar-top2 {

    box-shadow: 0px 20px 36px -19px #C4C4C4;
}

.fa-user-alt {
    content: "\E1C9\00FE0E";
    margin-left: 8px;
    font-size: 20px;
    line-height: 24px;
    fill: #616161;
}

.vl {
    height: 35px;
    border-left: 1px solid #bab9b9;
    margin: auto 10px;
}

.fa-shopping-cart {
    margin: auto 0;
    font-size: 20px;
    line-height: 24px;
    fill: #616161;
}

.nav-link {
    align-items: center;
    padding: 7px 8px 8px;
    color: #2f2f2f !important;
    cursor: default;
    margin-left: 10px;
    line-height: 1;
    font-size: 14px !important;
}


.nav-item-first {
    margin-left: 0;
}

.nav-svg {
    width: 20px !important;
    height: 20px !important;
}

.choose-map a {
    margin-left: 0;
    padding-left: 0;
}

.ad-carousel {
    display: flex;
    flex-direction: row;
    height: 430px;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #f5f5f5;
}

.ad-container {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    margin-left: 10px;
    width: 30%;
}

.ad-container .ad-ctr {
    width: 100%;
    height: 220px;
}

.ad-container .ad-ctr img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.ad-container .ad-ctr:nth-child(1) {
    margin-bottom: 1rem;
}

.carousel-item {
    height: 220px;
    background: #777;
    height: 425px;
    margin: auto 0px;
    width: 100%;
}

.carousel-inner {
    margin-left: 20px;
    width: 100%
}

.carousel {
    height: 100%;
    margin: 0 10px;
    width: 70%;

}

.cr-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px
}

.sweiper-container {
    background-color: #6bb927;
    width: 100%;
    height: 511px;
    padding-top: 50px;
}

.dropdown-menu .dropdown-item {
    padding: 14px 8px;
    color: #616161;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    font-size: .857rem;
    line-height: 1.833;
}

/****************swipper******************/
html,
body {
    position: relative;
    height: 100%;
}

.swipper-container {
    background-color: #6bb927;
    height: 511px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swipper-slide {}


.swiper {
    width: 100%;
}

.swiper-slide img {
    width: 220px;
    height: 220px;
    object-fit: contain;
}

.swipper-title {
    height: 43px;
    text-align: right;
    width: 100%;
    text-align: center;
    overflow: hidden;
    max-width: 90%;
    min-height: 50px;
    font-size: 12px;
    font-size: .857rem;
    line-height: 25px;
    color: #535353;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    width: 264px;
    height: 444px;
    background: white;
    
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    background-color: #fff;

    display: flex;
    /* -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center; */
    flex-direction: column;
    margin: 0 5px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    /* padding: 5px 15px 16px; */
    position: relative;
    padding: 5px 15px 16px;
}

.digiplus-gift {
    font-size: 12px;
    line-height: 25px;
    color: #535353;
    display: flex;
    margin-top: 10px;
    justify-content: flex-start !important;
}


.c-price {
    margin: 10px auto;
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    height: 45px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.c-discount {
    display: flex;
}

.c-del {
    font-size: 1.143rem;
    color: #acacac;
}

.c-price .price {
    width: 100%;
    color: #000;
    letter-spacing: 0;
    font-weight: 00;
    font-size: 1.2rem;
    line-height: 1.1;
    text-align: left;
}

.c-discount .circle{
    background-color: #fb3449;
    font-weight: 700;
    color: #fff;
    border-radius: 20px;
    padding: 15px 10px ;
    letter-spacing: 0;
    margin-bottom: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 16px;
    font-size: 1.143rem;
    line-height: 1.375;
    margin-right: 8px;
    min-width: 43px;
    height: 23px;
}

.dis-counter {
    position: absolute;
    margin-top: 5px;
    font-size: 1rem;
    line-height: 1.571;
    color: #737373;
    bottom: 10px;
}

/********************************************************************/

.megasubmenu .text-link {
    font-size: 12px;
    font-size: .857rem;
    line-height: 1.833;
    color: #424750;
    display: inline-block;
}

.ghg:hover {
    border: 1px rgb(219, 217, 217) solid;
    background-color: #fafafa;
}


.fa-angle-left {
    margin: 0 20px;
}



.title div {
    height: 15px;
    border-right: 2px solid red;
    margin: auto 0;
    margin-left: 5px;
}

.title {
    display: flex;
    color: #232933;
    font-size: 1rem;
    line-height: 30px;
    ;
    decoration: none;
}


@media only screen and (min-width: 1720px) {

    .navbar-top {
        padding: 1rem 10em;
    }

    .ad-carousel {
        padding: 0 10em;
    }

    .navbar-top2 {
        padding-right: 10em;
        padding-left: 10em;
    }

    .swiper-container {}

}

@media (min-width: 1500px) {
    .swipper-container {
        padding: 0 10em;
    }
}

@media (min-width: 1500px) {
    .swipper-container {
        padding: 0 15em;
    }
}

@media all and (min-width: 992px) {
    .megasubmenu {
        left: 100%;
        top: 0;
        min-height: 100%;
        width: 90rem;
    }

    .dropdown-menu>li:hover .megasubmenu {
        display: block;
    }
}

.align-right {
    right: 100% !important;
    float: right !important;
}

a:hover {
    color: red !important;
    cursor: pointer;
}

.list-unstyled a {
    color: #4a5f73;
    text-decoration: none;
    font-size: .857rem;
    line-height: 2.27;
}

@media all and (min-width: 992px) {
    .dropdown-menu {
        float: right !important;
        /* right: 100% !important; */
    }

    .navbar .nav-item:hover .dropdown-menu {
        transition: .3s;
        opacity: 1;
        visibility: visible;
        transform: rotateX(0deg);
    }

    .navbar .nav-item>.dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
    }

    /* .navbar .dropdown-menu-end{ right:0; left: auto;  }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }*/
}